@import '../../../styles.css';

.header {
  background: linear-gradient(90deg, var(--light-gray-color), var(--black-color));
  text-align: center;
  padding: 0.6rem 0;
}

@media (min-width: 770px) {
  .header {
    text-align: left;
    padding-left: 8rem;
  }
}
